{% extends "layouts/base.njk" %}

{% block content %}

    {% include "partials/homepage/hero.html" %}

    {% include "partials/homepage/services.html" %}

    {% include "partials/homepage/premium-trainings.html" %}

    {% include "partials/homepage/about.html" %}

    {% include "partials/homepage/testimonies.html" %}

    {% include "partials/homepage/trust-factors.html" %}

    {% include "partials/homepage/mini-trainings.html" %}

    {% include "partials/homepage/contact.html" %}

{% endblock %}
