<section class="relative bg-gray-50">
    <main class="lg:relative">
        <div class="w-full pt-16 pb-20 mx-auto text-center max-w-7xl lg:py-48 lg:text-left">
            <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
                <h2
                    class="text-4xl font-semibold leading-10 tracking-tight text-headerDark sm:text-5xl sm:leading-none md:text-6xl lg:text-5xl xl:text-6xl"
                >
                    Build an extraordinary <span class="text-primaryColor">yoga</span> or
                    <span class="text-primaryColor">wellness business</span>
                    <br class="xl:hidden" />
                </h2>
                <p class="max-w-md mx-auto mt-3 text-lg text-bodyCopyDark sm:text-xl md:mt-5 md:max-w-3xl">
                    You can change lives AND generate big profit. Book a FREE 60 minute Studio Strategy Session today!
                </p>
                <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
                    <div class="rounded-md shadow">
                        <a
                            href="https://blackbirdyogastudio.lpages.co/60-minute-strategy-session/"
                            target="_blank"
                            rel="noopener"
                            class="flex items-center justify-center w-full px-8 py-3 text-base font-medium leading-6 text-white transition duration-150 ease-in-out border border-transparent rounded-md bg-primaryColor hover:bg-primaryColorDark focus:outline-none focus:border-text-primaryColorDark focus:shadow-outline-indigo md:py-4 md:text-lg md:px-10"
                        >
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
            <img
                class="absolute inset-0 object-cover w-full h-full"
                src="/img/homepage-hero.jpg"
                alt="Nicole D'Andrea - consulting extraordinaire"
            />
        </div>
    </main>
</section>
